body{
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

#principal{
    width: 1024px;
    margin: 20px auto;

}

.header-top{
    height: 45px;
    background: #162028;
    position: relative;
}

.logotipo{
    margin: 5px 0 0 135px ;
}

.header-nav{
position: absolute;
top: 0;
right: 0;
height: 100%;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    padding: 13px;
    margin: 0 15px 0 0;
}
.header-nav a{
    color: #425564;
    font-size: 16px;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s linear ;
}

.header-nav a:hover{
    color: white;
}

/* header finalizado*/

.portifolio{
    padding: 45px 100px;
    text-align: center;

}

.portifolio h1{
    font-size: 40px;
    color: #252525;
}

.portifolio p{
    font-size: 18px;
    line-height: 1;
    color: #555;
}

/* Portifólio finalizado*/

.gallery{
    color: #555;
    padding: 0 100px 300px 100px;
}

.gallery-card{
    width: 33%;
    float: left;
    text-align: center;
    overflow: auto;
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: bold;
}
/*galery finalizado */

.about{
    background-color: #003d52;
    padding: 90px;
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position:right bottom ;

}

.about h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
}

.about p{
    line-height: 1.2;
    width: 70%;
}

/*About finalizado*/

#contact{
    margin: 40px 0;
}

#contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 19px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.maps{
    width: 100%;
    height: 450px;
    margin-top: 30px;
}

.rodape{
    background: #0b171f;
    padding: 25px;
    font-size: 13px;
    color: #6f8597;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 10px;
}

.maps iframe{
width: 100%;
}

